<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/Cardapio">Cardapio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Adicionar</li>
  </ol>
</nav>
<h2>Lista de mercadorias <a href="/Cardapio/Adicionar/Todos"> Todos </a> </h2>

<ng-container *ngIf="idhashGrupo == 'Todos'">
  <div class="card">
    <div class="card-header">Grupos</div>
    <div class="card-body">
      <h5 class="card-title">Selecione</h5>
      <ul class="list-group" *ngFor="let grupo of wrapperGrupos.msgSaida[0]">
        <li class="list-group-item" (click)="getMercadorias(grupo.id)"> {{ grupo.descricao }}</li>
      </ul>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="idhashGrupo != 'Todos'">
  <h4> Grupo: {{ wrapper.msgSaida[0][0].grupo }}</h4>
  <table class="table table-borderless ">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Exibe?</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of wrapper.msgSaida[0] ; index as i">
      <tr>
        <td>{{ item.descricao }}</td>
        <td class="text-end">
          <ng-container *ngIf="item.checked  == 'Checked'">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked
                (click)="setItemCardapio(item.idhash, '1')">
            </div>
          </ng-container>
          <ng-container *ngIf="item.checked  != 'Checked'">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                (click)="setItemCardapio(item.idhash, 'unchecked')">
            </div>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
