<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="page" >Cardapio</li>
  </ol>
</nav>
<h2 class="text-center">Cardápio </h2>
<hr>
<div>
  <button type="button" class="btn btn-primary btn-sm" routerLink="/Cardapio/Adicionar/Todos">Adicionar</button>  
</div>

<div>
  <table class="table table-borderless ">
    <thead>
      <tr>
        <th scope="col">Grupo</th>
        <th scope="col">Nome</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of wrapper.msgSaida[0] ; index as i">
      <tr>
        <td>{{ item.descricao }} </td>
        <td>{{ item.name }}</td>
        <td class="text-end"> R{{ item.valor | currency}}</td>
      </tr>
    </tbody>
  </table>
</div>